[2021-03-18 13:31] iamssen opened #56 "Feature: Manual wallet setting without Chrome Extension"
# Goal

- [x] Update `wallet-provider`
   - [x] Add status `view`
      - provide `walletAddress`
      - but, can't send transaction
   - [x] Merge `{ walletReady, availableService } = useService()`
      - provide `{ connectedUserWallet, userWallet } = useWallet()`
      - `connectedWallet` is exists when the Chrome Extension is connected
      - `userWallet` is exists when the user wallet addre

[2021-03-18 13:42] iamssen opened #57 "Docs: More documents and comments"
# Documents

- [ ] Yarn 2.0 guide (update yarn to latest version)
- [ ] Project directory structure (app, base, landing, packages...)
- [ ] Guide discord channel (ask to Seoyeon about these packages)

# Comments

- [ ] Add comments to reusable `packages/*` sources

...

[2021-03-23 08:33] #56 closed

[2021-03-23 08:34] #57 closed

[2021-04-02 01:50] prasathmani opened #77 "getting CORS origin issue"
It was working earlier, now I'm getting cross origin request blocked error
![image](https://user-images.githubusercontent.com/11345598/113371331-b153f380-9383-11eb-8514-951e6b990c4e.png)

[2021-04-02 02:15] iamssen commented on #77
@prasathmani `https://tequila-mantle.anchorprotocol.com` is the development server (Testnet).

Could you check your network setting? change the network to "Mainnet"

![image](https://user-images.githubusercontent.com/357619/113372855-8af28000-93a4-11eb-8c1c-636eded0674f.png)

[2021-04-02 02:24] prasathmani commented on #77
Testnet is working now, thanks

[2021-04-02 02:24] #77 closed

[2021-04-06 03:03] kenzieschmoll opened #80 "In the Govern tab, add a summary of ANC rewards YTD for a given user"
Bonus points for exposing the details of that summary (rewards from borrowing APY, rewards from ANC-UST LP staking, etc.)

[2021-04-06 06:50] ryanology045 commented on #80
Hi @kenzieschmoll, appreciate the suggestions. We are planning to make functional adjustments to the WebApp UI, and we'll definitely put your suggestions into consideration.

[2021-04-06 14:33] martinyung opened #82 "No memo field in anchor app wallet send modal"
In the [discord](https://discord.com/channels/464241079042965516/464241079042965518/828933396667301988) channel, i realise some user did not put in the memo when sending to wallet in exchanges. One of the reason is because there is no `memo` field in the anchor app wallet send modal

<img width="660" alt="wallet-send-modal" src="https://user-images.githubusercontent.com/8136256/113725900-5d9c2e00-

[2021-04-06 16:32] kenzieschmoll commented on #80
Sounds great @ryanology045. It would also be valuable to show the conversion to UST for the YTD rewards, where the value in UST per reward claim transaction should be calculated per transaction, based on the number of ANC tokens claimed in rewards and the price of ANC at the time of claiming those rewards.

[2021-04-07 08:09] iamssen commented on #82
@martinyung Thanks for the report.

![image](https://user-images.githubusercontent.com/357619/113832295-70187500-97c3-11eb-8b39-5fc60ec42b4c.png)

I added the memo field on the send dialog.

and when you send without memo you can see this confirm dialog.

<https://anchor-web-app-git-feature-send-memo-anchor-protocol.vercel.app/earn>

[2021-04-07 08:57] martinyung commented on #82
thanks alot @iamssen, this will greatly help people new to crypto.

[2021-04-07 09:04] #82 closed

[2021-04-16 06:57] RomainLanz opened #89 "Add back the Interest Earned section"
Hey there! 👋

Since we do not have access to your Trello Board, we do not know the reason why the `Interest Earned` section has been removed from the UI (code is still there).

Commit: https://github.com/Anchor-Protocol/anchor-web-app/commit/becc666adc250f9df04f511ce24c7113128ff433

I believe it can still be useful to display this information as a note, like it has been done with the liquidation p

[2021-04-18 18:40] iamssen commented on #89
Sorry for the inconvenience. I will write more details the commit messages.

And the restoring "Interest Earned" section issue I need to more checking to the backend development. I will update after this issue checked.

[2021-04-25 02:08] snubeaver opened #98 "Error on LP withdrawal"
I am getting this error in transaction on anchor webapp. Any ideas?

Error ID: 75ec5e66cefa4baf9ac3eaed2eb99d8f

[2021-04-25 16:06] iamssen commented on #98
@snubeaver It seems your USD balance (755443uusd) was lower than the tx fee (1678329uusd).

[2021-05-06 13:12] kenzieschmoll opened #102 "Data is being dropped from Anchor claim reward transactions"
Originally filed at https://github.com/terra-project/finder/issues/70, but the issue may be on the Anchor side, so filing here also.

This is an example of claiming rewards from the Anchor Govern tab. Inspecting the transaction in Terra Finder shows that data is being dropped regarding the reward value. Looks like the entire from_contract event log is missing.
<img width="798" alt="Screen Shot 202

[2021-05-06 16:53] #98 closed

[2021-05-07 03:52] kjessec commented on #102
This is because the backend we're using for Finder (fcd) is dropping some of the logs from contract executions. Will escalate this internally and come back to you when fixed.

[2021-05-07 04:29] kjessec commented on #102
Should be good now -- can you retry the same pages? There might be a cache in action so please do try a few times in a minute

[2021-05-07 23:17] hugelynx opened #104 "Getting this error code when trying to stake UST via a ledger Nano S"
Error ID: 978663d564ba4d1e99ccb39a4477ca88
![anchor error](https://user-images.githubusercontent.com/83846274/117517099-d47d4e80-af92-11eb-8d4d-731977d4af75.jpg)

[2021-05-08 06:32] iamssen commented on #104
@hugelynx Sorry for the inconvenience.

Unfortunally, I can't find the errors `978663d564ba4d1e99ccb39a4477ca88` and `827794e38a264ced839a8b46dcba689e` from our error report system (Sentry).

Could you send your wallet address (e.g. `terra12hnhh5...`) to my e-mail? ( ian@terra.money )

I will investigate your problem.

[2021-05-08 06:51] hugelynx commented on #104
Hi

Good morning

Thanks for getting back to me

I've managed to get the transfer through, just needed some adjustments to
my ledger. My first time doing it but all sorted now.

Thanks again

On Sat, 8 May 2021, 07:32 Seo Yeon, Lee, ***@***.***> wrote:

[2021-05-08 06:56] iamssen commented on #104
@hugelynx Great, thanks for the update! 😄

[2021-05-08 06:56] #104 closed

[2021-05-08 08:10] hugelynx commented on #104
Hi

I do have one question, in the earn section do you know how I can increase
the APY from 20%? I've seen YouTube videos and seen ranges from 20-25%

Thanks

Paul

On Sat, 8 May 2021, 07:56 Seo Yeon, Lee, ***@***.***> wrote:

[2021-05-12 10:01] OrmEmbaar commented on #104
@hugelynx I have the same issue. What adjustments did you need to make?

[2021-05-12 10:04] hugelynx commented on #104
I didn't make any changes.

Don't really understand how this can be modified by the end user.

On Wed, 12 May 2021, 11:02 Alex, ***@***.***> wrote:

[2021-05-12 10:12] OrmEmbaar commented on #104
Oh, odd. TerraStation was not initiating a request to my Ledger, but now it is. Thanks.

[2021-05-13 01:42] kjessec commented on #102
@kenzieschmoll I will look into this more thoroughly

[2021-05-13 15:23] invis87 opened #108 "Showing same action twice"
<img width="486" alt="image" src="https://user-images.githubusercontent.com/228536/118147346-251ffc00-b418-11eb-8b28-ed16333f4794.png">

Transaction: https://finder.terra.money/tequila-0004/tx/313213C2FB063CEB52B22EC8039B96792383ACFF2528E685D517770FEEFE8E9D

[2021-05-14 06:21] kjessec commented on #102
@kenzieschmoll is there a way I can get a hold of the problematic tx hash?

[2021-05-14 08:25] invis87 opened #107 "Showing same action twice"
https://github.com/Anchor-Protocol/anchor-earn/issues/6

[2021-05-14 09:38] kjessec commented on #107
Thanks, will have a look. I applied a fix for it a while ago, I guess it didn't work out at all. Unfortunately for your duplicate records to be resolved it would take some reindexing in the db, which will take some days. Will report back once resolved!

[2021-05-17 13:12] invis87 opened #109 "Borrow limit > 100% view bug"
This is kinda impossible on prod, but on testnet I catch it :D

<img width="796" alt="image" src="https://user-images.githubusercontent.com/228536/118494282-aa622400-b72a-11eb-886d-c3d612580412.png">

[2021-05-17 16:24] kenzieschmoll commented on #102
Can I get your email to send it to you? I don't know if there are privacy concerns for posing here publicly.

[2021-05-18 02:21] kevinhankpark commented on #109
Hey invis97, this is not a bug, it is intended behavior. it's just that there are no liquidations being made on testnet right now!

[2021-05-18 09:03] invis87 commented on #109
@kevinhankpark I think UI is showing it in a wrong way. That why I call that "bug"

[2021-05-18 09:45] kjessec commented on #109
@invis87 can you elaborate? it is intended to be shown like that, given that the bar should never go beyond 100% (if there are liquidations)

[2021-05-18 09:46] kjessec commented on #102
@kenzieschmoll jesse@terra.money. Thanks!

[2021-05-18 09:47] kjessec commented on #89
the indexer for interest earned is being re-built from scratch. will be a feature in a near future. Thanks!

[2021-05-18 09:58] invis87 commented on #109
Hmmm, if it is intended, then probably all fine.
I just think it is ugly :) and looks like an "unexpected behavior":
<img width="232" alt="image" src="https://user-images.githubusercontent.com/228536/118632010-b2789d00-b7d8-11eb-8fdc-48fb280c4727.png">

[2021-05-18 10:11] iamssen commented on #109
@invis87 Thanks for this report. I'll fix it on next update.

[2021-05-18 10:12] iamssen commented on #108
duplicated <https://github.com/Anchor-Protocol/anchor-web-app/issues/107>

[2021-05-18 10:12] #108 closed

[2021-05-19 13:15] cmckenna07041992 opened #110 "Unable to make repayment to loan"
<img width="742" alt="Screenshot 2021-05-19 at 14 15 19" src="https://user-images.githubusercontent.com/39618480/118818835-a8c06980-b8ac-11eb-9a24-3a23ea76b066.png">

Really important to get this fixed asap before people are liquidated.

[2021-05-19 13:46] ACoopies commented on #110
Same error across the whole protocol... !!!

[2021-05-19 13:48] kenzieschmoll commented on #110
Same here. I'm sure someone is on it already, but following this issue for updates. Thanks.

[2021-05-19 13:54] kenzieschmoll commented on #110
@cmckenna07041992 @ACoopies if you check Terra Finder, the TX may still have gone through even though this error comes up.

[2021-05-19 14:07] ACoopies opened #111 "Missing UST from ANC-UST LP Wirhdrawal"
I withdrew from the ANC-UST LP but only received the ANC portion of the 50/50 LP tokens, no UST has hit my Terra Wallet. Here is the transaction/contract:
https://finder.terra.money/columbus-4/tx/3A6D3E7F85DE374965BE12F18B423CEC2084851D82D62DA1AFB84903FEF90F69

Assistance very much appreciated.

[2021-05-19 14:13] ACoopies commented on #111
Cancel that, UST has just arrived some 15 mins after the ANC did. Phew.

[2021-05-19 14:13] #111 closed

[2021-05-19 15:28] iamssen commented on #110
Sorry for the inconvenience. we are now fixing this problem. if the problem persists, please send an error id.

[2021-05-19 19:02] CTJTFIT commented on #110
This morning we had multiple issues with the Anchor Protocol as the market was pulling back.  An overarching critical issue was the Anchor platform was not stable.  When accessing the platform, it would show data and then if we clicked to another tab it would be blank.   If you cannot access the account data to act on it is like watching helplessly from the sidelines knowing there was the ability

[2021-05-20 18:17] hugelynx opened #113 "Unable to borrow"
I've attempted to borrow as a test but keep getting this error code

Error ID: 162b1b1dff3e4513848d073f7d6e0821

I'm connecting via my Nano S Ledger which has been fine with Terra Station

[2021-05-20 18:35] hugelynx commented on #113
![anchor borrow error](https://user-images.githubusercontent.com/83846274/119031001-7f820500-b9a2-11eb-8cae-061cc9c969a6.jpg)

[2021-05-21 03:44] iamssen commented on #113
@hugelynx The error seems to be Ledger's error message. I'm sorry, but I don't think I can give you any guidance. Please try again after disconnecting Ledger.

<https://www.google.com/search?q=ledger+nano+%22Unknown+status+code%3A+28161%22&newwindow=1&sxsrf=ALeKk02Fn50Duw6y2sQanE9NeEUUA9H0xg%3A1621566617046&ei=mSSnYMu2Aoj70ATZ8B0&oq=ledger+nano+%22Unknown+status+code%3A+28161%22&gs_lcp=Cgdnd3Mtd2l

[2021-05-24 06:36] #113 closed

[2021-05-24 06:36] #110 closed

[2021-05-24 06:37] #107 closed

[2021-05-24 16:13] kenzieschmoll opened #116 "Where can Anchor loan liquidation transactions be found?"
These transactions and their respective data (amount of bLuna liquidated, timestamp, amount of loan payed down, etc.) are important for calculating taxable gains/losses. As far as I can tell, these transactions are not surfaced in terra finder. Where is this data, and how can the end user view it? thanks.

[2021-05-25 06:00] iamssen commented on #116
@kenzieschmoll <https://finder.terra.money/columbus-4/address/terra1tmnqgvg567ypvsvk6rwsga3srp7e3lg6u0elp8>

You can check it using the "liquidate_collateral" msg in the overseer contract above.

Also, our backend developer is making an API related to this.

Thank you.

[2021-05-25 12:37] Bwitzank opened #118 "Cannot withdraw, deposit etc with Anchor Protocol and Terra Wallet"
![image](https://user-images.githubusercontent.com/84782067/119499133-4f4db400-bd5e-11eb-9e89-adc2e731a97a.png)

Getting this error message. Tried lots of times and ways. Anyone able to help?

[2021-05-25 13:36] Chinoman10 opened #119 "Feat. Req.: Enable browser notifications for liquidation warnings/notifications"
Hi there,
Following [a conversation on Discord](https://ptb.discord.com/channels/816973230526693396/816973230979153931/846742188666388500), I feel like adding browser notifications to users who are about to be liquidated (LTV>40 or 45%) or when they are liquidated would be a very _nice-to-have_ feature. Provided of course that they have a tab open with the Anchor web app to ensure that the app run

[2021-05-25 13:51] iamssen commented on #119
@Chinoman10 I think it's an interesting feature.

We are currently focusing on features for mobile web support. After completing it, I will discuss your feature request with my team members.

Thank you.

[2021-05-25 20:00] Cottonsocks opened #120 "Unable to claim rewards (Airdrop) from Anchor & Mirror Protocol"
I've been unable to withdraw rewards from Anchor/Mirror protocol using my ledger device for the last week (since the crash). I have changed nothing on my end and all was working fine before.

[Mirror.pdf](https://github.com/Anchor-Protocol/anchor-web-app/files/6542018/Mirror.pdf)
[Anchor.pdf](https://github.com/Anchor-Protocol/anchor-web-app/files/6542021/Anchor.pdf)

Thanks in advance for your he

[2021-05-26 02:07] iamssen commented on #120
@Cottonsocks Sorry for the inconvenience. "Failed to open the device." is an error in Ledger. We are currently experiencing a lot of errors in Ledger devices and are trying to determine the cause.

Usually, disconnecting Ledger and trying again from the beginning seems to solve the problem.

I'm sorry I couldn't be of much help.

[2021-05-27 13:59] #118 closed

[2021-05-27 17:15] #109 closed

[2021-05-28 01:41] hr11111 opened #128 "LOAN ERROR! Never received UST for loan!!!!!"
Error ID: 165fe8e95de34310be300622eeb8d0b6

Hi,
Anchor  failed to provide me with the UST I borrowed, but my account says that I owe the money!? Please help.

[2021-05-28 03:30] iamssen commented on #128
Your Borrow has been handled normally.

After the success of Tx, there was a Server Error in the process of querying the results to the API server, and the WebApp was not displayed normally.

Let me tell you how to check your Tx result. (I'd like to give you an easy link, but I can't write it down here because it's personal information.)

1. Look up your Terra Address in the search bar at <https:/

[2021-05-30 05:35] #128 closed

[2021-06-02 21:08] luigi311 commented on #89
Thanks! Safe to assume this will be able to backtrack how much was earned throughout the entire history of the terra wallet?

[2021-06-03 07:37] Chinoman10 opened #135 "Feat. Req.: Local currency conversion (display only)"
Suggestion that came in [on Discord](https://ptb.discord.com/channels/816973230526693396/821639657485500416/849809061544460377):
The same way that we can see how much our UST is worth in the local currency (EURO/EUT, etc.) inside Terra Station, display the same kind of feature on the Anchor Web App, so we can see how much our deposits, collaterals, etc. are worth.

[2021-06-03 08:03] iamssen commented on #135
@Chinoman10 I sent this issue to our service planning team.

I'll let you know when I get their answer.

Thanks!

[2021-06-03 09:29] kevinhankpark commented on #135
@Chinoman10 ,

Thanks for the suggestion, but as of now this is a feature that we are not considering to develop, given our development plans. Since the market is in UST, we are only considering USD as denominations at the moment.

Thanks again!

[2021-06-03 14:20] #135 closed

[2021-06-03 14:20] #116 closed

[2021-06-03 14:21] #102 closed

[2021-06-03 14:58] kenzieschmoll commented on #116
Thanks. Do you have an expected time that the API for liquidation information will be available? Is there a place where Anchor API endpoints are documented?

[2021-06-04 01:29] kjessec commented on #116
Hey @kenzieschmoll, Currently we are in the process of migrating our backend while also implementing the endpoint you mentioned too. (it'll be served in the form of full transaction history with better granularity with "got liquidated" entry as well).

We're targeting mid June for all these!

[2021-06-11 10:41] Chinoman10 commented on #119
I guess this was released just now and the issue can be closed @iamssen ?

[2021-06-11 10:45] iamssen commented on #119
@Chinoman10 Yes! this feature released. thanks!

[2021-06-11 11:56] iamssen commented on #119
This notification feature is a temporary release. Our backend developers are preparing for server push now, so we can provide better service soon. 😄

[2021-06-11 11:56] #119 closed

[2021-06-18 02:25] RPM718 opened #141 "Error on testnet claim rewards"
![error claim rewards](https://user-images.githubusercontent.com/86089086/122496927-92e0ba00-cfba-11eb-9ace-e7df63d0accc.PNG)

hello. probably this never happen, but sometimes could. this happen in testnet. the claim reward show this error and dont let me claimed. i dont know if could be the amount of reward. there is any support for testnet for things like this?.

regards.

[2021-06-18 06:34] iamssen commented on #141
@RPM718 We executed the testnet poll to readjust the emission cap.

<https://app.anchorprotocol.com/gov/poll/69> (only visible on testnet)

Please check if the problem has been solved.

[2021-06-21 03:19] #141 closed

[2021-07-05 15:48] danku-r opened #148 "Show aUST used as collateral in Anchor EARN"
It would be great to show the current value of the aUST holdings on a wallet on Anchor EARN that are used as collateral on Mirror. After posting several charts and videos on Twitter and YouTube, I received a lot of feedback that their aUST is gone. This was connected to the feat, that the aUST would also no appreciated anymore. But, of course, this is a matter of education. Anyway, I personally ag

[2021-07-05 20:18] luigi311 commented on #148
Yes having two numbers would be best, a total aUST and an available aUST so users know how much they are able to withdraw and the concept of total and available balance is already common in traditional finance.

[2021-07-10 21:16] konraddroeske opened #151 "Testnet Borrow Failing"
Havne't heard back from anyone on the discord, so just posting this here...

![test-net-error](https://user-images.githubusercontent.com/51546277/125176532-367c4f00-e1a2-11eb-9030-ad80a7c5b5ad.png)

Only Borrow fn seems to have this issue:

The transaction requested has failed due to the following reason:
generic: contract query failed: generic: Price is too old:

Here is the tx for reference:

ht

[2021-07-11 06:34] iamssen commented on #151
@konraddroeske I will check.

[2021-07-11 07:09] kjessec commented on #151
Hey @konraddroeske looks as if our testnet infra tasks are malfunctioning. Checking now

[2021-07-11 07:19] kjessec commented on #151
Should be up now.

[2021-07-11 07:19] #151 closed

[2021-07-30 18:52] kenzieschmoll opened #155 "Create and/or document a REST API for interacting with Anchor data"
Is there an existing REST API to find data like 20% yield earn balance, bLuna balance, collateral balance, borrowed balance, borrowing rewards balance, etc? If there is, is it documented anywhere?

[2021-07-31 15:02] iamssen commented on #155
There is no REST API to obtain calculated values. WebApp is calculating low-level data from Contract.

All Contract Query / formulas for WebApp are [here](https://github.com/Anchor-Protocol/anchor-web-app/tree/feature/beth/app/src/%40anchor-protocol/webapp-fns), but there are no documents yet, and they are not convenient APIs for external developers.

You should still refer to docs.anchorprotocol.

[2021-08-01 11:14] iamssen commented on #155
Also refer to this repo that I recently started

https://github.com/Anchor-Protocol/anchor-notebooks

[2021-08-03 02:52] #155 closed

[2021-08-18 23:46] infinite-donn opened #160 "Cannot withdraw ust in anchor protocol using math wallet"
Dear team, i cant withdraw my ust on anchor protocol , im using MathWallet, can u help me to solve this ? This is my error id 79d373dfbf8a49cb96323ae05917819e

[2021-08-19 01:45] iamssen commented on #160
@infinite-donn Please try again via terra station extension or terra station mobile. There's nothing we can do for you if it's just a matter of math wallet.

[2021-08-19 01:52] infinite-donn commented on #160
Thx to replied me , i try To recover my Terra wallet to Terra Station mobile , but Mnemonic phrase in Terra is 24 , otherwise math wallet only 12

[2021-08-19 02:16] iamssen commented on #160
@infinite-donn I'm sorry. I can't solve the problems in Math wallet. For issues such as "How do I move the terra wallet from the matn wallet to the terra station?" or "The tx sign of the matn wallet is not working properly" you should contact the matn wallet.

[2021-08-21 16:37] #160 closed

[2021-08-24 17:09] AncImp opened #165 "The transaction requested has failed due to the following reason: generic: Already claimed:"
Transaction # B355875C82994EBCA417919FC2B49885BA22723029302BCAAD3FFBFFE90D3ABE

Not sure what to do about this. I have more airdrops to claim but it gets stuck here
<img width="765" alt="Screen Shot 2021-08-25 at 3 03 50 am" src="https://user-images.githubusercontent.com/89476527/130659529-58bd90d8-a807-4a8c-a74b-90928580da9d.png">

[2021-08-25 02:34] iamssen commented on #165
@AncImp There seems to be a problem updating the data after the airdrop claim. We are checking for the problem.

As a temporary solution, refreshing the browser after the airdrop claim and attempting to airdrop claim again may resolve the problem.

Sorry for the inconvenience.

[2021-09-01 14:17] ontvzla opened #167 "Withdraw transaction not substracting fees from withdrawn amount."
Not sure how the format for issues/enhancements should be.

## Description

When trying to withdraw deposited UST there is an issue where I get the error "**Not enough transaction fees**" at the top of the modal. Also I get the error "**Not enough UST**" below the Amount control.  I assume the transaction is trying to get the fees paid from the actual UST wallet in terra, not the withdrawn amount

[2021-09-01 15:38] iamssen commented on #167
@ontvzla Could you please send your wallet address to ian@terra.money?

The gas price of terra has been increased recently. If you deposit UST by pressing Max button a week ago, the transaction feed may be insufficient due to the recent gas_price increase.

I think I can check your wallet address for more details.

[2021-09-01 15:59] ontvzla commented on #167
Thanks for the quick response @iamssen. Just sent the information to your email.

[2021-09-02 06:32] kevinhankpark commented on #167
Hi, so to quickly provide some insight to you situation, there are two forms of fees happening when withdrawing from Anchor, transaction fees that you need to pay and taxes being deducted from contracts.

The current situation you are facing, it seems you used the Max button to deposit, which should have left 0.25 UST which is the fixed fee at the time, good enough for one withdrawal.

The gas pri

[2021-09-02 13:06] ontvzla commented on #167
@kevinhankpark Hi Kevin, thanks for your reply. I understand. I'll try to hold some spare UST to pay for the fees and try not to use the max option for the moment.

So my humble opinion, if I may, is that the message "Not enough transaction fees" is kind of vague. Maybe something like
"Insufficient balance to pay for fees" or something similar is more intuitive. I will leave the issue opened in ca

[2021-09-10 05:55] kevko2020 commented on #148
I think this will be difficult because the aUST is literally not in your wallet anymore so it would be hard to track especially if aUST can be taken to multiple other platforms in the future.

[2021-09-12 14:09] davordavidovic commented on #89
Hey curious to know what the status of this is? I think it's a much needed feature :)

[2021-09-12 14:32] davordavidovic opened #171 "Historical Earn APY displayed incorrectly"
**Problem**
The historical APY in the Earn interest section shows today's date (eg: Sep 12, 2021) on all slider values. Looking at the network tab I can see these values fetched from the `https://mantle.anchorprotocol.com/?earn--apy-history` endpoint.

[code]

Parsing the timestamps using `new Date(timestamp * 1000)` as done in the InterestSection.tsx I get that the timestamps are from today's dat

[2021-09-13 05:53] kjessec commented on #89
This would need support from the backend -- logic wise it's kind of complicated and we're working towards this, although the priority is somewhat low due to col-5 migration. Please give us some more time 🙏  Thanks!

[2021-09-13 05:57] kjessec commented on #171
We're working to solve this. This needs support from the backend where APY snapshot is taken every hour. We have the code for it but didn't implement it on the webapp front due to other tasks being of higher priority.

[2021-09-13 06:57] RomainLanz commented on #89
100% normal, Columbus-5 update is far more important than this. 😄

Will it be possible to have the interest retroactively to this day, or will it start from scratch?

[2021-09-13 19:24] luigi311 commented on #148
Yeah it would be hard now that i think about it because the aUST leaves your wallet. So they would need to track where all your aUST is going and validate that you are actually still entitled to it or if you lost it with a margin call or the protocol took it or lost it.

[2021-09-18 20:22] slayorktc opened #174 "allow mobile web app to connect to ledger"
Terra station is the only option to connect on mobile anchor.protocol webapp. Users can use this app from ledger which supports u2f..
https://github.com/LedgerHQ/android-u2f-bridge/releases

The guide for support of a web app and ethereum can be found here.

https://support.mycrypto.com/how-to/hardware-wallets/ledger/how-to-use-a-ledger-wallet-with-android

I believe the website could allow ledger

[2021-09-19 09:42] iamssen commented on #174
@slayorktc I have a plan for this function. It will be done through the update of the [wallet-provider](https://github.com/terra-money/wallet-provider).

However, there are many developments currently underway, so it will take time to implement this function.

[2021-10-09 15:52] popcornazerty opened #182 "[BORROW/REPAY] transaction fail when repaying loan"
Step to reproduce:

Bond bluna
borrow just on your bluna deposit
try to repay the loan

==> I get the following error message : Transaction failed: The transaction requested has failed due to the following reason:

account sequence mismatch, expected 222, got 221: incorrect account sequence

[2021-10-20 13:05] popcornazerty commented on #182
Resolved

[2021-10-20 13:05] #182 closed

[2021-11-07 07:33] 0xWWW opened #187 "fix assets storybook ui components"
- Icons, Token Icons storybook ui component isn't working on there
![Screen Shot 2021-11-07 at 4 32 52 PM](https://user-images.githubusercontent.com/50073310/140636496-bb75bfa8-cefb-4475-8f57-c5bf3d11c2af.png)
.

[2021-11-07 07:35] 0xWWW opened #188 "fix APYChart Storybook UI component"
- APY Chart Storybook UI component is not working
![Screen Shot 2021-11-07 at 4 35 01 PM](https://user-images.githubusercontent.com/50073310/140636535-255a5a34-d237-4ddc-b8a1-5493933b6f5c.png)

[2021-11-07 07:38] 0xWWW opened #189 "fix CoinChart Storybook UI component"
- CoinChart Storybook UI component is not working.
![Screen Shot 2021-11-07 at 4 37 44 PM](https://user-images.githubusercontent.com/50073310/140636615-719e637a-ef46-46ec-adb8-7ebccc2aba0e.png)

[2021-11-07 07:51] 0xWWW opened #190 "Cannot read property 'id' of undefined"
I'm getting `TypeError: Cannot read property 'id' of undefined` with `yarn app:start` on my local.
![Screen Shot 2021-11-07 at 4 49 16 PM](https://user-images.githubusercontent.com/50073310/140636981-a0dee227-4f4b-45d6-b555-0a4f5dd47fb4.png)

[2021-11-07 14:41] 0xWWW commented on #190
https://github.com/rocket-hangar/multiplerun/issues/12

[2021-11-12 09:47] 0xWWW commented on #190
@iamssen - it works well for now. Appreciate it!
![Screen Shot 2021-11-12 at 6 46 12 PM](https://user-images.githubusercontent.com/50073310/141446668-54b11d4f-d64b-4959-8e60-6760d2ea126c.png)

[2021-11-12 09:47] #190 closed

[2021-11-16 18:51] 0xWWW commented on #189
https://github.com/Anchor-Protocol/anchor-web-app/pull/191

[2021-11-16 18:52] 0xWWW commented on #189
![Screen Shot 2021-11-17 at 3 51 50 AM](https://user-images.githubusercontent.com/50073310/142047447-9bd8d615-95ec-42d9-a50b-de04a76f67c3.png)

[2021-11-16 18:53] 0xWWW commented on #188
https://github.com/Anchor-Protocol/anchor-web-app/pull/191
![Screen Shot 2021-11-17 at 3 52 49 AM](https://user-images.githubusercontent.com/50073310/142047614-578af187-5ce9-4fec-a7f6-99e7eef60f3a.png)

[2021-11-16 18:54] 0xWWW commented on #187
https://github.com/Anchor-Protocol/anchor-web-app/pull/191

[2021-11-17 08:13] #189 closed

[2021-11-17 08:13] #188 closed

[2021-11-17 08:13] #187 closed

[2021-11-22 02:31] 0xWWW opened #192 "Error initializing Apollo GraphQL project "Unnamed Project""
![Screen Shot 2021-11-22 at 11 29 03 AM](https://user-images.githubusercontent.com/50073310/142792232-9c3314b8-0413-49c8-b8fd-5bb3f08408b4.png)

Getting error with `yarn graphql:download-schema`. Also looks `https://tequila-mantle.anchorprotocol.com\` is out of date because currently `tequila-mantle` wasn't supported more.

[2021-11-22 14:25] iamssen commented on #192
@0xWWW Thanks for the issue. I just updated on this. https://github.com/Anchor-Protocol/anchor-web-app/commit/df84d4c309ddf6ff2180f6b9a175dae23b4814dd

[2021-11-22 14:25] #192 closed

[2021-11-22 22:18] generaltso518 opened #193 "How to run web app"
Is there a guide how to actually get this running? for example do we use pm2, what is the node file to start, what are nginx config settings

[2021-11-25 08:50] iamssen commented on #193
This is not a node application. just run `yarn run app:build`. you can get the static files such as js and html

[2021-11-25 08:50] #193 closed

[2021-11-25 18:29] generaltso518 commented on #193
Thank you, after running I get these files in app
build         scripts        tsconfig.script.json        vite.config.ts
index.html    script.sh      vercel-build-ignore.sh
package.json  src            vercel-ignore-storybook.sh
public        tsconfig.json  vercel.json

and these in app/build
assets  favicon.ico  fetchWorker.js  logo.png  manifest.json  robots.txt

the index.html file really does

[2021-11-25 19:05] generaltso518 commented on #193
here is my nginx config but still doesn't work
[code]

[2021-11-25 20:53] sayveprotocol commented on #193
ok the files end up being in app/build
the reason I couldn't see it before was the build kept failing due to node memory issues so this solves it
[code]
So to correctly build
[code]
Then static files are in
[code]

[2021-11-28 06:04] generaltso518 commented on #193
ok the files end up being in app/build
the reason I couldn't see it before was the build kept failing due to node memory issues so this solves it

[code]
So to correctly build
[code]
Then static files are in
[code]

[2021-12-16 16:29] dmbutalsodm opened #201 "Expected interest earnings for Month/Week/Day calculated incorrectly."
It looks like the Monthly/weekly/daily earnings are simply calculated by taking the expected interest in APY for the year and dividing by 12/52/365. This is incorrect as the interest rate displayed is APY, meaning it compounds/accelerates over time
meaning just dividing is going to make the interest appear linear, which is not how it works in reality.

For example, if my balance is $1000, and the

[2021-12-18 18:51] kamiyaa opened #202 "TypeError: Big(...).toFixed is not a function"
Govern page shows this error for trade/stake widget:
```TypeError: Big(...).toFixed is not a function```

MyPage is also blank

![image](https://user-images.githubusercontent.com/8345320/146652661-9bd17965-b422-479a-8f9d-3c57adea6d45.png)

[2021-12-22 09:35] kevinhankpark commented on #201
Hey!
Thanks for reaching out. We are planning to have an upgrade on the actual contract level interest compounding mechanism changes in our next major upgrade (https://github.com/Anchor-Protocol/money-market-contracts/tree/dev/v1.1) , and will modify the webapp to calculate expected interest earned accordingly.

[2021-12-27 04:29] pasqua12 opened #204 "Deposit issue at Anchor"
My deposit page at Anchor is zero. Why it happened? I just sell some Lunas that having nothing to see with bLunas I provided.

[2021-12-27 05:28] #204 closed

[2022-01-10 05:34] jackykoyan opened #210 "Anchor protocol staking error"
The transaction requested has failed due to the following reason:

pubKey does not match signer address

[2022-01-10 23:28] gfb1967 opened #211 "Anchor Protocol Missing Liquidity"
Hello,

I executed below transaction:
Tx 81E21D2EC5499F678986BABC25019025219F3E8E12F8EC683AFAD810DD27CD3C
to the Anchor Liquidity Pool today at 1:13 eastern time.

The liquidity appeared in Anchor Protocol as a pool balance as expected. Later today when I checked the pool balance it was $0.00. There is no record of a withdrawal transaction or trace of the funds that I can find.

Please assist if p

[2022-01-11 05:00] iamssen commented on #211
@gfb1967 Please check this banner

![image](https://user-images.githubusercontent.com/357619/148884064-f7924420-e408-4872-a1c1-94afb2eab7c4.png)

[2022-01-11 17:06] gfb1967 commented on #211
Thank you very much!

[2022-01-11 17:06] #211 closed

[2022-01-26 04:45] abishr12 opened #217 "Web App Failing Out the Box"
Running `yarn install` after clone gives me

error An unexpected error occurred: "Unknown token: { line: 3, col: 2, type: 'INVALID', value: undefined } 3:2 in /Users/Adham1/Desktop/repos/anchor-web-app/yarn.lock

![Screen Shot 2022-01-25 at 8 37 37 PM](https://user-images.githubusercontent.com/20959266/151105141-f9da8dfb-1636-4a6c-8f2c-b9e119170804.png)

Tried deleting the yarn.lock, reinstalling

[2022-01-30 02:37] pedro-explore opened #225 "Instant Burn Web-App errors"
Issue 1: Fees are miscalculated to be 3% instead of 0.05% charged by astroport, station-web-app displays the correct fees (green text in image).

Issue 2: Price quote in the summary has the names flipped (red text in image).

<img width="1678" alt="Screen Shot 2022-01-29 at 9 33 25 PM" src="https://user-images.githubusercontent.com/86209013/151684568-b1e48eea-7845-4329-9ae5-6f0f39c7da37.png">

[2022-02-07 19:10] silvermind opened #234 "Clarify used timezone on the proposals End Time"
Would be nice to see the End Time with the Zimezone included, currently it's not clear if it's converted using the bowser time zone or is in UTC.

e.g. https://app.anchorprotocol.com/poll/15

Also would it be possible to show the actual execution date using the current config param?

[2022-02-27 04:13] kickthedragon opened #246 "Dark Mode 🌙"
Feature Request:

Dark Mode would be very very appreciated.

[2022-03-09 04:48] cosullivan commented on #246
Hi, there already is a dark mode available.

The toggle is in the bottom right of the screen.

![image](https://user-images.githubusercontent.com/2428335/157374800-ee17719c-89e9-42c4-8bc7-b69df1db0107.png)

Thanks, Cain.

[2022-03-19 16:11] coin-seeker opened #277 "Anchor Dashboard page's price is fixed"
The price shows the 2.77 only.

I think apply the gov's Astroport price API.

[2022-03-24 00:25] Jefkeh opened #288 "Dockerfile : Not able to build the Docker"
Unable to utilize #249 seems to be failing on the compile. Any instructions on building the docker? @mandrean

command I'm running sudo docker build -t anchorweb .

error:
 => ERROR [build-local 7/7] RUN yarn run landing:build

[2022-03-24 17:24] mandrean commented on #288
@Jefkeh Yeah you're right, found some quirk when running a local Dockerized build:
https://github.com/Anchor-Protocol/anchor-web-app/blob/master/Dockerfile#L1-L11

The CI uses a different way: https://github.com/Anchor-Protocol/anchor-web-app/blob/master/Dockerfile#L13-L18

Fixed in #290.

[2022-03-24 20:11] DaveHH2574 opened #291 "Earn Funds Didn't Arrive"
The transaction shows success but the funds didn't arrive but they have been pulled from my account.
![2022-03-24](https://user-images.githubusercontent.com/102326189/160001654-5c10247e-4053-48cd-9fe3-c43587eb8bdd.png)
![2022-03-24 (3)](https://user-images.githubusercontent.com/102326189/160001659-0162b77e-4157-4ebc-ac2a-ccc5c89f9963.png)
![2022-03-24 (2)](https://user-images.githubusercontent.com

[2022-03-27 00:12] TommyB78 opened #296 "Missing 26k Deposit"
I made two deposits into my anchor however I can only see the first one in MyPage value amount not the second. I should see $55,800 but it shows $29,300

Missing -$26,568.995524
https://finder.terra.money/columbus-5/tx/D019D3427F27A077E3A8DFA148C38A96D35B9A63FD5EFBB1017AB970EE0A73D8

Deposited-$29,235.930217
https://finder.terra.money/columbus-5/tx/BE794A453B658D9A4B01726928C07E8C306AEF034ADDD173A

[2022-03-27 00:41] cosullivan commented on #296
Hi,

Please raise this as a support request on the Discord channel and someone will help you out.

The Discord channel is linked on the bottom of the main Anchor website.

Thanks.

[2022-03-27 00:41] #296 closed

[2022-03-27 00:42] cosullivan commented on #291
Hi,

Please raise this as a support request on the Discord channel and someone will help you out.

The Discord channel is linked on the bottom of the main Anchor website.

Thanks.

[2022-03-27 00:42] #291 closed

[2022-03-27 12:37] #89 closed

[2022-03-31 09:35] lopezj19 commented on #225
Hello @pedro-explore   , A support ticket has been opened for you with Support ticket number TM5266. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-03-31 09:38] lopezj19 commented on #217
Hello @abishr12    , A support ticket has been opened for you with Support ticket number TM5366. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-03-31 09:38] lopezj19 commented on #210
Hello @jackykoyan , A support ticket has been opened for you with Support ticket number TM5466. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-01 02:30] wingut opened #310 "Staking error"
Hi, I tried to stake and it said transaction failed and told me to come here and provide the TX hash so if you could help me figure this out I would truly appreciate it, thanks
Tx hash CA1DA2FDEBCF08A0C7EEF4996898E7F8CEA127B063C56EFFC78EA257842B4293

[2022-04-01 04:31] cosullivan commented on #310
Hi,

Please post questions regarding support to the Discord channel.

The link is available on the Website.

Thanks, Cain.

[2022-04-01 04:31] #310 closed

[2022-04-01 06:35] marlowl commented on #246
Suggested a small improvement pr about this a while ago:  https://github.com/Anchor-Protocol/anchor-web-app/pull/209

[2022-04-01 07:07] FrancYescO commented on #246
I think that if while opening the SPA it will automatically follow the system setting, the toggle can stay "hidden" in the footer 😁

[2022-04-01 07:58] marlowl commented on #246
@FrancYescO So no need for an extra / moved toggle in the header? From a user perspective it might be a bit tricky to see the "hidden" toggle in the footer right now

[2022-04-01 08:30] cosullivan commented on #217
Can you confirm if you are still getting this with the latest commits in master?

[2022-04-01 08:32] #202 closed

[2022-04-01 09:03] 0xkdavid opened #311 "Transaction failed with ANC trading"
failed to execute message; message index: 0: dispatch: Operation exceeds max spread limit: execute wasm contract failed - https://finder.terra.money/bombay-12/tx/13AB831188985AA42B920BE64860907E90D43F653A2932D84B7408D92B870C9E

[2022-04-01 10:44] lopezj19 commented on #311
Hello, A support ticket has been opened for you with Support ticket number TB8836HH. You should talk to an ANCHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-01 22:00] Watson199 commented on #311
Hello, A support ticket has been opened for you with Support ticket number TM3782. You should talk to an ANCHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-02 05:08] frozencode opened #312 "Modify Collateral Attribute fails to get staked governance Anchor"
When using the Anchor UI to make a proposal to raise bETH LTV to 75% UI is unable to retreive query for vested Anchor tokens.

Troubleshooting steps taken:

Disconnected + reconnected wallet
restarted browser (chromium)
used different browser (safari ios, chromium android)
used different wallet (failed to repr
<img width="1440" alt="Screen Shot 2022-04-02 at 12 05 44 AM" src="https://user-images.g

[2022-04-02 07:09] cosullivan commented on #246
I will get our designers to have a look at this feture from their perspective.

[2022-04-02 07:20] cosullivan commented on #312
This is as expected if your account doesn't have any ANC tokens vesting.

You can navigate to the vesting claim URL directly to confirm.
https://app.anchorprotocol.com/anc/vesting/claim

[2022-04-02 07:28] cosullivan commented on #311
Can you try selling a smaller amount, ie, 100 ANC and see if it works?

[2022-04-02 07:57] Watson199 commented on #312
Hello, A support ticket has been opened for you with Support ticket number TM2947. You should talk to an ANCHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-02 14:31] frozencode commented on #312
I have confirmed I have no tokens in vesting contract. I have 1,000 tokens staked in Anchor governance as seen here:
<img width="1119" alt="image" src="https://user-images.githubusercontent.com/7212523/161387929-e397ab9b-4e98-4844-8512-0adb4b80d4ac.png">

so it's not a query error then the page is just nor recognizing my governance stake?

[2022-04-02 14:42] cosullivan commented on #312
To create a poll, you need to have 1,000 ANC in your wallet whereas when you vote on a poll you can only vote with the ANC that you have staked.

The page queries the vesting contract to determine whether you have any ANC tokens that are available to claim, so it does this indepenantly of a poll, ie, it will do this on the main page too.

[2022-04-02 14:48] frozencode commented on #312
Just changed title to reflect actual issue. I have the anchor staked in governance, however, it does not allow for me to post the proposal since the ui botton is greyed out and the deposit section is red. checking for the anchor it does report I have it in governance in the image above, I'm checking the messages sent to see if something is awry when querying for my staked anchor but I cant see wha

[2022-04-02 15:38] digitalcleavage commented on #246
I'm using Anchor right now and I do not have a Settings button. I am using Anchor on Avalanche, if that makes a difference.

![Screen Shot 2022-04-02 at 11 38 15 AM](https://user-images.githubusercontent.com/64740254/161390449-c8e74132-4e26-4d36-a5d3-6a68f88ad3b6.png)

[2022-04-02 16:32] mauver commented on #312
No staking ANC, unstake your ANC and create the poll.

[2022-04-02 18:15] frozencode commented on #312
YEP YOUR RIGHT I'M AN IDIOT - ISSUE CLOSED

[2022-04-02 18:15] #312 closed

[2022-04-02 19:03] frozencode opened #313 "Add Notification for Users to verify domain is app.anchorprotocol.com"
Many users on the forums and discord have reported having funds drained due to scam websites. In addition to this scam websites have been posting google adds to get people to click on their domain. These websites pull Anchor front end and disguise themselves as the official protocol. Once users interact with these sites their funds are drained with no way of recovery. A simple notification or pop

[2022-04-03 00:53] cosullivan commented on #246
Sorry, there is no dark theme on Avalanche yet.

[2022-04-03 02:00] cosullivan commented on #313
How does Olympus DAO display the message though?

If its just a message that is included in the app, then it too can also be easily modified.

[2022-04-03 05:11] Watson199 commented on #311
Hello, Kindly chat with one of our support agent on live chat to get a quicker response [CLICK HERE](https://forumanchorprotocol.net/).

[2022-04-03 18:26] frozencode commented on #313
I think it is just a message included in the app. Even if it can be modified it still gets people to double check, I don't think scammers would want people checking the domain at all so I think most would not implement it.

It would be great if there was a way we could make it unchangeable. Or kinda like the anti piracy in games where if someone copy's the UI then when the message is displayed it

[2022-04-07 15:54] Nlawre08 opened #318 "avax borrow"
my last 2 trasnsactions say it gone through but i havnt recieved ust and it says i know owe it in the borrow page

[2022-04-07 18:35] Clinton4552 opened #319 "Funds not arriving in Anchor Earn wallet"
I was depositing UST on the from my Metamask (Avalanche) this morning and the funds have left my wallet but not arrived in the Anchor earn wallet, looking at the log in Anchor it indicates it succeeded but these are not showing and I am unsure how to trace or identify the issue.

[2022-04-07 21:11] jhonatansuarez commented on #319
@Clinton4552 .Same just happen to me .

[2022-04-07 21:48] Clinton4552 commented on #319
@jhonatansuarez this has now corrected, Basically I had to do a transaction restore process in the Anchor protocol. To do this I went into my metamask wallet, found the activity related to the deposit, opened the Deposit Stable activity, then selected "view on block explorer", copied the "Transaction Hash" number, then went back to the Anchor protocol, clicked on my wallet address at top right han

[2022-04-07 21:49] Watson199 commented on #319
Hello, A support ticket has been opened for you with Support ticket number TB9936HH. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-07 21:50] Watson199 commented on #319
Hello, A support ticket has been opened for you with Support ticket number TB10036HH. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-07 21:50] Watson199 commented on #318
Hello, A support ticket has been opened for you with Support ticket number TB82836HH. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-07 21:59] jhonatansuarez commented on #319
@Clinton4552 thank you very much for your help , well done .

[2022-04-07 22:30] StevenLo-11 opened #321 "Deposited UST not showing on My Page"
Hi, I deposited UST but the transaction was failed and the UST in my MetaMask Avalanche was missing. I tried to use the restoration function but it shows failed as well. Plz help
![Screen Shot 2022-04-07 at 5 30 48 PM](https://user-images.githubusercontent.com/78856352/162330173-d47321aa-5f20-4e8f-b9af-31cbee38bb2e.png)
.

[2022-04-07 22:35] StevenLo-11 commented on #319
I did the same thing but this is what I received.
![Screen Shot 2022-04-07 at 5 35 21 PM](https://user-images.githubusercontent.com/78856352/162330619-373486c8-8a04-42f6-baa1-3ed7d2bec445.png)

[2022-04-07 23:34] yunanni commented on #321
You have to synchronize your wallet and debug it

[2022-04-07 23:36] yunanni commented on #319
You have to synchronize your wallet and debug it

[2022-04-08 03:20] cosullivan commented on #318
Please raise this issue in the Discord channel which you can find a link to from the main website.

[2022-04-08 03:20] #318 closed

[2022-04-08 10:33] Watson199 commented on #321
Hello , A support ticket has been opened for you with Support ticket number TB8836AD. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-09 11:12] jf518 opened #324 "UST borrowing confirmed but not showing in Anchor"
I borrowed UST on AVAX. Snowtrace shows the transaction as confirmed, but the funds are not showing up as borrowed on Anchor. When I restore the transaction I get the following message:

Oops, something went wrong!

Outgoing sequence expected.

Can someone please help?

Thanks!!!

[2022-04-09 12:02] Station-Dev commented on #324
Hello @, A support ticket has been opened for you. Talk to a Anchor Protocol Dev on the support live chat at [Live support page](https://anchorforums.com/) . We believe your case will be resolved as soon as possible. [CLICK HERE](https://anchorforums.com/)

[2022-04-09 12:03] Station-Dev commented on #321
Hello @, A support ticket has been opened for you. Talk to a Anchor Protocol Dev on the support live chat at [Live support page](https://anchorforums.com/) . We believe your case will be resolved as soon as possible. [CLICK HERE](https://anchorforums.com/)

[2022-04-09 12:04] Station-Dev commented on #319
Hello @, A support ticket has been opened for you. Talk to a Anchor Protocol Dev on the support live chat at [Live support page](https://anchorforums.com/) . We believe your case will be resolved as soon as possible. [CLICK HERE](https://anchorforums.com/)

[2022-04-09 14:41] #324 closed

[2022-04-09 23:41] yunanni commented on #319
You only need to synchronize your wallet and then you debug it.. you don’t
need any support

On Sat, Apr 9, 2022 at 1:04 PM Station-Dev ***@***.***> wrote:

[2022-04-09 23:42] yunanni commented on #321
You will need to synchronize your wallet and then you debug it. You don’t
need any support

On Sat, Apr 9, 2022 at 1:04 PM Station-Dev ***@***.***> wrote:

[2022-04-10 08:01] Charlotte61 commented on #321
Hello, Kindly chat with one of our support agent on live chat with ticket number TB2993HH to get a quicker response [CLICK HERE](https://forumanchorprotocol.net/).

[2022-04-10 08:01] Charlotte61 commented on #319
Hello, Kindly chat with one of our support agent on live chat with ticket number TB2923HH to get a quicker response [CLICK HERE](https://forumanchorprotocol.net/).

[2022-04-10 08:05] yunanni commented on #319
Don’t chat with any support it is a scam.. big scam .. you can do it
yourself .. you just need to synchronize your wallet and then you debug
it.. I can send you the url to get it done

On Sun, Apr 10, 2022 at 9:02 AM Charlotte61 ***@***.***>
wrote:

[2022-04-10 15:42] frozencode commented on #313
I'm seeing a lot more people have their balances drained. Scammers are getting more sophisticated and are draining LP balances now, I think we should pull this ASAP even if it can be easily modified it will help remind people using Anchor to constantly check the URL.

Even then what I'm seeing looks more like a bad node for the DNS. But maybe adding a message to use a VPN and access through google

[2022-04-10 19:14] Charlotte61 commented on #321
Hello @soumyadeeproy12  , A support ticket has been opened for you with Support ticket number TB8836HM. You should talk to an ANHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-11 11:35] cosullivan commented on #313
@frozencode yes, please go ahead and create a pull request and we will review it.

Thanks, Cain.

[2022-04-13 07:11] cosullivan commented on #234
Both of these have been address now and will be available on mainnet soon.

![image](https://user-images.githubusercontent.com/2428335/163120094-6d154844-387f-4fa4-b8d1-9849d2fdef66.png)

[2022-04-13 07:11] #234 closed

[2022-04-13 07:11] #217 closed

[2022-04-13 13:39] Molly150 commented on #318
Hello, A support ticket has been opened for you with Support ticket number TM7839. You should talk to an ANCHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-13 13:40] Molly150 commented on #310
Hello, A support ticket has been opened for you with Support ticket number TM7639. You should talk to an ANCHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-13 13:42] Molly150 commented on #321
Hello, A support ticket has been opened for you with Support ticket number TM7629. You should talk to an ANCHOR PROTOCOL Dev on the [LIVE SUPPORT PAGE](https://forumanchorprotocol.net/) So that your issue can be looked into. Thank you. [CLICK HERE](https://forumanchorprotocol.net/)

[2022-04-13 22:10] yunanni commented on #321
You just need to synchronize your wallet and then you debug it with bech13

On Wed, Apr 13, 2022 at 2:42 PM Molly150 ***@***.***> wrote:

[2022-04-14 13:05] mauver opened #336 "anchor gov page got the blank"
white page is shown. maybe some bug

react-dom.production.min.js:216 Error: [big.js] Invalid number
    at parse$5 (big.mjs:139:11)
    at new tt (big.mjs:106:7)
    at tt (big.mjs:89:65)
    at formatRate (unit.format.ts:96:23)
    at index.tsx:84:17
    at Object.ci [as useMemo] (react-dom.production.min.js:168:377)
    at Object.react_production_min$1.useMemo (react.production.min.js:23:113)

[2022-04-15 12:11] RICARDO4355 commented on #336
hi @mauver i just went through this, a bug seems to be promting this error. I will suggest you contact Terra support and talk with a Developer from Terra through their live chat Developers forum. Click on the  Forum ——>> [TERRA SUPPORT LIVE CHAT](https://agora.terras.live/) to help you sort this out right away

[2022-04-15 12:18] FranciscoPontes opened #340 "Earn page - display amount of UST earned"
It would be nice to have a box displaying how much UST one has earned so far.
Should be a trivial computation, right?
`current protocol amount + amount withdrawn - amount deposited`

[2022-04-15 18:05] mauver commented on #336
this link is scam maybe. don't click this link.

[2022-04-15 18:05] #336 closed

[2022-04-16 21:36] steward833 commented on #321
Hello, Kindly chat with one of our support agent on live chat to get a quicker response [CLICK HERE](https://forumanchorprotocol.net/).

[2022-04-16 21:44] steward833 commented on #324
Hello, Kindly chat with one of our support agent on live chat to get a quicker response [CLICK HERE](https://forumanchorprotocol.net/).

[2022-04-17 10:47] jf518 commented on #324
Hi - I resolved this issue so this should closed out. Thanks!

[2022-04-18 14:03] frozencode commented on #313
Will get this done this week, thanks.

[2022-04-21 03:01] jerrys1142 opened #345 "Transaction failed"
The transaction requested has failed due to the following reason:
: 4772757uusd is smaller than 500000000uusd: insufficient funds
•	Tx Hash[3063D3...757E5](https://finder.terra.money/columbus-5/tx/3063D35D770B7228D7707D8BAD0B57671C8E92030BCBD1BF1749FFDDC8757E51)

[2022-04-23 15:24] cosullivan commented on #345
Please raise this on the discord, links are available from the main website.

[2022-04-23 15:24] #345 closed

[2022-04-23 15:24] #319 closed

[2022-05-01 19:17] DONOVAN7493 commented on #321
HI @StevenLo-11 have this issue been resolved yet ? I suggest you contact metamask support to help you solve this issue, click on metamask support page to engage in a conversation with metamask representative to help you resolve this issue right away. click on -----> https://metamaskzendesk.helpsconnect.live/#

[2022-05-12 16:32] stephenfarns23 opened #374 "Failed Transaction when withdrawing from Anchor"
I'm earning yield on UST. I want to withdraw but am getting a "Failed to Broadcast Transaction" error repeatedly.

[2022-05-12 16:37] maetad commented on #374
Same here

[2022-05-12 16:37] jairon97 commented on #374
Same please help

[2022-05-12 16:40] spudders007 commented on #374
me too ffs

[2022-05-12 16:45] rigzin503 commented on #374
same problem for me too

[2022-05-12 16:46] oreomonsta12 commented on #374
Yup same :( i feel we are all going to lose our money

[2022-05-12 16:50] oreomonsta12 commented on #374
https://twitter.com/terra_money

They posted on Twitter. They have shutdown the network or something...

[2022-05-12 16:51] anon6798 commented on #374
Same here. Please help.

[2022-05-12 16:55] Neo-Hsu88 commented on #374
it seems like no any schedule to open it

[2022-05-12 17:04] duart3000 commented on #374
Same

[2022-05-12 17:21] Walli95 commented on #374
Do you have any news? Since when it isnt working?

[2022-05-13 02:27] moonranch commented on #374
Same. Still not working for me. Anyone got it working 😭

[2022-05-13 02:48] slim115 commented on #374
Same..

[2022-05-13 03:00] Pj0212 commented on #374
same

[2022-05-13 03:29] wan1003 commented on #374
same

[2022-05-14 03:49] S0c5 opened #375 "https://app.anchorprotocol.com/"
Why are the buttons gray even when I connect my wallet, could someone help me?

[2022-05-20 08:25] Recce1323 commented on #374
I suggest you contact support https://forum.anchorprotocol.live

[2022-05-25 13:03] Devlauren commented on #374
@maetad @duart3000 @jairon97 @oreomonsta12
I’ll have to refer you to the official support page with the ticket ID LUN7578 Please reach out to [Terra Ecosystems Support Team](http://terramoneysupport.com/) on the livechat platform, the best team of dev will assist you on the issue immediately.

[2022-05-27 12:20] Donaldterrasupport022 commented on #374
Do you still have this issues ?
It means there is a problem with your in-node string,
Please reach out to [Terra-Anchor Ecosystems Support Team](http://terramoneysupport.com/) with the ticket id LUN7478 using the livechat page, the best team of dev will assist you on the issue immediately.

[2022-05-29 12:33] diskandarnerd opened #379 "failed to wtihdraw bETH collateral"
this is what the message is when trying to withdraw collateral beth:

"The transaction requested has failed due to the following reason:

: Generic error: Price is too old: execute wasm contract failed"

this is the attached tx:
https://finder.terra.money/columbus-5/tx/EA500F81DA682A6786BBE0C0AE1262A661C99A9E59E6CCCB214D909E07F4B22A

so, how do i take out the collateral?

[2022-05-29 15:22] mysolo opened #380 "failed to connect web app with chrome and station extension version 3.0.2"
Receive a message:

Wallet is connected on terra classic network.

Only one error on chrome console:
index.js:45 @metamask/detect-provider: Unable to detect window.ethereum.

a index.js is a url: https://app.anchorprotocol.com/node_modules/@metamask/detect-provider/dist/index.js

[2022-05-30 03:03] SergyBIT1 opened #382 "Price is too old"
Transaction failed
The transaction requested has failed due to the following reason:

: Generic error: Querier contract error: Generic error: Price is too old: contract query failed: execute wasm contract failed
![Снимок экрана 2022-05-30 в 6 02 35](https://user-images.githubusercontent.com/86669639/170909603-184df32b-06f0-49a7-bca5-3b670011759d.png)

[2022-05-30 06:39] bdiebold commented on #382
same here - please fix

![image](https://user-images.githubusercontent.com/5969866/170931866-8c9a8352-baff-4467-8a6a-a2c5270beb22.png)

https://finder.terra.money/columbus-5/tx/4A7FA3B86AE56C4C0428F365D3A8C947CFDBFD4BB5F7529639599EA4280936BE

[2022-05-30 06:40] bdiebold commented on #379
same, here, please fix

![image](https://user-images.githubusercontent.com/5969866/170932062-025359de-3e24-4b5b-addd-ae06a6e57b7c.png)

https://finder.terra.money/columbus-5/tx/4A7FA3B86AE56C4C0428F365D3A8C947CFDBFD4BB5F7529639599EA4280936BE

[2022-05-30 10:19] mac1088 commented on #379
no luck here either - dosent help they shut down all comms

[2022-05-30 15:54] SergyBIT1 commented on #382
did you solve?

[2022-05-30 16:38] vdhaka1 opened #383 "Error trying to withdraw eETH - Price is too old"
Please review. Thanks.

![brave_2022-05-30_10-37-38](https://user-images.githubusercontent.com/95399775/171033124-b6d05a9e-6a67-409e-8307-3cca49c668e1.png)

[2022-05-30 16:41] nedosa opened #384 "`Transfer error` when withdrawing UST from Anchor with xdefi"
Hi,

Getting this error when withdrawing UST from Anchor with xdefi on Chrome/MacOS

[code]

Any thoughts? Is Anchor totally gone ?

[2022-05-30 17:57] damilolaoyelami commented on #382
![borrow](https://user-images.githubusercontent.com/81656803/171041473-9c05df3a-90a5-4fe9-acf8-45c572836cd8.png)

[2022-05-30 17:57] damilolaoyelami commented on #382
The same issue and it keeps taking gas fees for each attempt.

[2022-05-30 20:47] athenachu13 commented on #383
i have same issuse. someone needs to help us!

[2022-05-30 20:52] athenachu13 opened #385 "error trying to withdraw bETH"
hi - discord is on lockdown. we can't send messages through telegram. so I'm going to try here -

I am trying to withdraw my collateral bETH but keep having "transaction failed" notices.

The transaction requested has failed due to the following reason:

: Generic error: Price is too old: execute wasm contract failed

tx hash: [EA3198...838BEE](https://terrasco.pe/columbus-5/tx/EA319839DCE2E117FE3

[2022-05-30 23:19] jbrennin commented on #385
Same here

[2022-05-30 23:23] jbrennin commented on #382
Not taking gas from me on withdraw attempt but still getting the same error.

[2022-05-31 00:17] jellicoe commented on #385
I did this yesterday and it worked and got my bETH out and back to Ethereum and convert to webETH  wormhole then cobert to stETH on lido

they might have stopped the Anchor eth Oracle because someone was manipulating it last night - look at this masssive bETH price spike over night (12 hours ago) it peaked to 303k per bETH also massive volume - locked bETH on anchor went from $33million to $6Milli

[2022-05-31 02:56] kurrubuddu commented on #385
+1, please fix asap. Anchor team holding our assets hostages, much for decentralisation.

[2022-05-31 21:20] athenachu13 commented on #385
app.anchorprotocol.com is now down????!!! will it ever work? my ETH is stuck there, wht am I supposed to do? anyone has any success contacting the devs? I'm tried discord (currently shut down), tried Telegram (can't send messages in there), and tagged them on Twitter with my issue but no luck so far...what are we supposed to do?

[2022-06-01 17:06] #385 closed

[2022-07-24 01:26] greenwall2002 commented on #383
Generic error: Price is too old: execute wasm contract failed
Same here,Please help.

[2022-09-06 00:24] Yordanys commented on #374
Let's learn the lesson. Do not use this service again to avoid inconveniences like this. I have months in the same case.